*{
    box-sizing: border-box;
}

/* App main view */
.App-main{
    border-radius: 2rem;
    box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.5);
    padding: 2rem;
    margin: 5rem;
}

/* Header */
.header{
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;  
    /* border: 2px solid red; */
}
.header-text{
    padding: 2.5rem;
}


.addbook-container{
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem;
    padding: 0.8rem;
    border: 0.1rem solid lightblue;
    
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
    transition: all 400ms ease-in-out;
}
.addbook-container:hover{
    box-shadow: 2px 5px 8px 1px rgba(57, 102, 138, 0.7);
}

.addbook-container h3{
    font-weight: 700;
    border-bottom: 2px solid lightblue;
    line-height: 4rem;
    
}
.addbook-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
}
.addbook-box .box-button{
    position: relative;
    top: 1.8rem;
    bottom: 1rem;
    left: 5rem;
    right: 25rem;
    padding: 1rem 2rem;

}

/* Books */
.book-section{
    display: grid;
    grid-template-columns: repeat(2, 10fr);
    margin: 1.5rem;
}

.books-container{
    /* border: 1px solid purple; */
    width:100%;
}


/* Book */

.book-container{
    width:70%;
    border-radius: 0.4rem;
    margin: 0.5rem;
    padding: 0.2rem;
}
.book-container-detail{
    width: 50%;
}

.book-minicard{
    height: 6rem;
    width: 100%;
    border: 1px solid orange;
    border-radius: 0.3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.book-text{
    padding: 0.1rem 0.5rem;
    text-align: center;
    height: 4rem;
    width: 60%;
    line-height: 0;
    border: 1px solid rgb(165, 165, 61);
}
.book-item{
    background-color: transparent;
    transition: all 400ms ease;
    max-width: 25rem;
}
.book-item:hover{
    background-color: rgba(135, 207, 235, 0.281);
    
    

}
.book-trash{
    position: absolute;
}
.fa-trash{
    position: relative;
    bottom: 3rem;
    right: 0;
    left: 18.5rem;
    font-size: 1.5rem;
    color: lightcoral;
}
.fa-trash:hover{
    color: red;
    cursor: pointer;
    
}